@{
    ViewBag.Title = "About";
}
<h1>About Us</h1>

<p>So many names! How many names! There are 10 names right now! I will add more when I connect a real database!</p>

<a asp-action="Index" class="btn btn-primary">Home</a>